[KDE Backdeck]
Name=Standard
Name[ar]=قياسي
Name[bg]=Стандартен
Name[bs]=Standardno
Name[ca]=Estàndard
Name[ca@valencia]=Estàndard
Name[cs]=Standardní
Name[da]=Standard
Name[de]=Standard
Name[el]=Τυπικό
Name[en_GB]=Standard
Name[eo]=Normala
Name[es]=Estándar
Name[et]=Standardne
Name[eu]=Estandarra
Name[fi]=Normaali
Name[fr]=Standard
Name[ga]=Caighdeánach
Name[gl]=Estándar
Name[he]=רגיל
Name[hu]=Standard
Name[ia]=Standard
Name[id]=Standar
Name[is]=Venjulegt
Name[it]=Standard
Name[ja]=標準
Name[ka]=სტანდარტული
Name[kk]=Стандартты
Name[km]=ស្តង់ដារ​
Name[ko]=표준
Name[lv]=Standarta
Name[mai]=मानक
Name[mr]=प्रमाणित
Name[nb]=Standard
Name[nds]=Standard
Name[nl]=Standaard
Name[nn]=Standard
Name[pl]=Standard
Name[pt]=Normal
Name[pt_BR]=Padrão
Name[ro]=Standard
Name[ru]=Стандартная
Name[sa]=स्तरीय
Name[se]=Standárda
Name[sk]=Štandardné
Name[sl]=Standardno
Name[sr]=Стандардни
Name[sr@ijekavian]=Стандардни
Name[sr@ijekavianlatin]=Standardni
Name[sr@latin]=Standardni
Name[sv]=Standard
Name[tr]=Standart
Name[ug]=ئۆلچەملىك
Name[uk]=Звичайний
Name[wa]=Sitandård
Name[zh_CN]=标准
Name[zh_TW]=標準
Preview=11.png
Comment=Standard KDE card set\nGPL license
Comment[af]=Standaard Kde kaart stel\nGPL lisensie
Comment[ar]=مجموعة ورق كِيدِي القياسية\n ترخيص جي بي ل
Comment[be]=Звычайная калода картаў KDE\nGPL license
Comment[bg]=Стандартен набор от карти на KDE \nGPL лиценз
Comment[bn]=কে.ডি.ই.-র সাধারণ তাস সেট\nজি.পি.এল. লাইসেন্স
Comment[bs]=Standard KDE skup karata\nGPL licenca
Comment[ca]=Joc de cartes estàndard del KDE amb\nLlicència GPL
Comment[ca@valencia]=Joc de cartes estàndard de KDE amb\nLlicència GPL
Comment[cs]=Standardní sada karet KDE\n GPL licence
Comment[cy]=Trwydded GPL safonol\nar gyfer set cerdiau KDE
Comment[da]=Standard KDE-kortspil\nGPL-licens
Comment[de]=Standard-KDE-Karten\nGPL-Lizenz
Comment[el]=Προκαθορισμένο σετ καρτών του KDE\nΆδεια GPL
Comment[en_GB]=Standard KDE card set\nGPL licence
Comment[eo]=Normala KDEa kartaro\nGPL licenco
Comment[es]=Juego de cartas estándar de KDE\nLicencia GPL
Comment[et]=Standardne KDE kaardikomplekt\nGPL litsents
Comment[eu]=KDE-ren karta-sorta estandarra\nGPL lizentzia
Comment[fa]=مجموعه استاندارد کارت KDE\مجوز nGPL
Comment[fi]=Normaali KDE:n korttipakka\nGPL-lisenssi
Comment[fr]=Jeu standard de cartes de KDE\n Licence GPL
Comment[ga]=Cártaí caighdeánacha KDE\nCeadúnas GPL
Comment[gl]=Baralla de cartas estándar de KDE\nLicenzaGPL.
Comment[he]=ערכת הקלפים הסטנדרטית של KDE\nרישיון GPL
Comment[hne]=मानक केडीई तास सेट\nजीपीएल अनुग्यापत्र
Comment[hr]=Standardni KDE komplet karata\nGPL licenca
Comment[hu]=Standard KDE kártyacsomag\n(GPL licencű)
Comment[id]=Set kartu standar KDE\lisensi nGPL
Comment[is]=Venjulegi KDE spilastokkurinn\nGPL leyfi
Comment[it]=Insieme di carte standard di KDE\nLicenza GPL
Comment[ja]=KDE の標準カードセット\nGPL ライセンス
Comment[ka]=სტანდარტული KDE ბარათის დაყენება\nGPL license
Comment[kk]=Стандартты KDE карталар жиыны\nGPL лицензиялы
Comment[km]=កំណត់​បៀ​ KDE ស្តង់ដារ\nអាជ្ញាប័ណ្ណ GPL
Comment[ko]=표준 KDE 카드 모음\nGPL 라이선스
Comment[lt]=Standartinis KDE kortų rinkinys\nGPL licencija
Comment[lv]=Standarta KDE kāršu komplekts\nGPL licence
Comment[mk]=Стандарден комплет на карти во KDE\nGPL-лиценца
Comment[mr]=प्रमाणित केडीई पत्ते\nGPL परवाना
Comment[nb]=Standard KDE-kortstokk\nGPL-lisens
Comment[nds]=KDE-Standardkoorten\nGPL-Lizenz
Comment[ne]=मानक केडीई ताश सेट\nGPL इजाजतपत्र
Comment[nl]=Standaard KDE-kaartrug\nGPL-licentie
Comment[nn]=Den gamle KDE-kortstokken.
Comment[pl]=Standardowy zestaw kart KDE\nLicencja GPL
Comment[pt]=Baralho de cartas normal do KDE\nLicença GPL
Comment[pt_BR]=Conjunto de cartas padrão do KDE\nLicença GPL
Comment[ro]=Set de cărți KDE standard\nLicență GPL
Comment[ru]=Стандартная колода карт KDE\nGPL license
Comment[sa]=मानक KDE कार्ड सेट्\nGPL अनुज्ञापत्रम्
Comment[sk]=Štandardný balíček kariet KDE\nlicencia GPL
Comment[sl]=Standardni nabor kart v KDE\nLicenca GPL
Comment[sr]=Стандардни КДЕ‑ов шпил карата\nпод ОЈЛ‑ом
Comment[sr@ijekavian]=Стандардни КДЕ‑ов шпил карата\nпод ОЈЛ‑ом
Comment[sr@ijekavianlatin]=Standardni KDE‑ov špil karata\npod OJL‑om
Comment[sr@latin]=Standardni KDE‑ov špil karata\npod OJL‑om
Comment[sv]=Förvald KDE-kortlek\nGPL-licens
Comment[ta]=நிலையான கேடிஇ சீட்டு அமைப்பு \nGPL இயக்க ஆணை
Comment[tg]=Маҷмӯи кортҳои низомии KDE\nлитсензияи GPL
Comment[tr]=Standart KDE kart destesi\nGPL lisansı
Comment[uk]=Типовий набір карт KDE\nліцензія GPL
Comment[vi]=Thẻ KDE tiêu chuẩn đặt \nGPL license
Comment[wa]=Cwårdjeus standård di KDE\ndizo licince GPL
Comment[xh]=Umgangatho wekhadi le KDE iqela lekhadi \nGPL imvumelwano
Comment[zh_CN]=标准 KDE 牌面\nGPL 授权
Comment[zh_TW]=標準 KDE 牌局\nGPL 授權
SVG=standard.svgz
Back=Classic Blue


