[Desktop Entry]
Name=KPatience
Exec=kpat -caption "%c"
Type=Application
Icon=kpat
X-DocPath=kpat/index.html
GenericName=Patience Card Game
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;CardGame;
MimeType=application/vnd.kde.kpatience.savedstate;
