[Desktop Entry]
Name=Patience
Name[ca]=Paciència
Name[da]=Kabale
Name[eo]=Solitero
Name[es]=Solitario
Name[et]=Kaardimängud
Name[fi]=Pasianssi
Name[fr]=Réussite
Name[hu]=Pasziánsz
Name[is]=Kaplar
Name[it]=Solitario
Name[ja]=ソリティア
Name[mk]=Трпение
Name[no]=Kabal
Name[no_NY]=Kabal
Name[pl]=Pasjans
Name[pt]=Paciência
Name[pt_BR]=Paciência
Name[ro]=Pasenţe
Name[sl]=Pasjansa
Name[sv]=Patiens
Name[ta]=ெபாறுைம
Name[tr]=Sabır
Name[uk]=Терпіння
Exec=kpat %i %m -caption "%c"
Type=Application
DocPath=kpat/index.html
Comment=Several nice card games
Comment[ca]=Diversos jocs de cartes
Comment[cs]=Různé pěkné karetní hry
Comment[da]=Adskillige sjove kortspil
Comment[de]=Ein paar hübsche Kartenspiele
Comment[eo]=Pluraj belaj kartludoj
Comment[es]=Varios juegos de cartas agradables
Comment[et]=Mitu erinevat kaardimängu
Comment[fi]=Monia erilaisia korttipelejä
Comment[fr]=Plusieurs beaux jeux de cartes
Comment[he]=םידמחנ םיפלק יקחשמ רפסמ
Comment[hr]=Nekoliko igara sa kartama
Comment[hu]=Többféle pasziánsz játék
Comment[is]=kpat:  Margir ágætir kaplar
Comment[it]=Molti giochi di carte
Comment[ja]=たくさんのカードゲーム
Comment[mk]=Неколку игри со карти
Comment[nl]=Diverse leuke kaartspelen
Comment[no]=Et par små kortspill
Comment[no_NY]=Eit par kjekke kortspel
Comment[pl]=Kilka różnych pasjansów
Comment[pt]=Vários jogos de cartas
Comment[pt_BR]=Vários jogos de cartas
Comment[ro]=O colecţie de jocuri de cărţi
Comment[ru]=Несколько неплохих карточных игр
Comment[sl]=Igre s kartami
Comment[sr]=Nekoliko interesantnih igara sa kartama
Comment[sv]=Flera trevliga kortspel
Comment[ta]=பல நலஂல சீடஂடாடஂடஙஂகளஂ
Comment[tr]=Çeşitli güzel kart oyunları
Comment[uk]=Декілька цікавих карточних ігор
