[Desktop Entry]
Encoding=UTF-8
Name=Patience
Name[el]=Πασιέντζα
Name[fr]=Réussite
Name[ja]=ソリティア
Name[x-test]=xxPatiencexx
Exec=kpat -caption "%c"
Type=Application
Icon=kpat
DocPath=kpat/index.html
GenericName=Patience Card Game
GenericName[el]=Παιχνίδι καρτών patience
GenericName[fr]=Jeux de réussite
GenericName[ja]=Patience カードゲーム
GenericName[x-test]=xxPatience Card Gamexx
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;CardGame;
