[KDE Backdeck]
Name=XSkat French
Name[ar]=اكس سكات فرنسي
Name[be]=Французскі XSkat
Name[bg]=Френски XSkat
Name[bn]=ফরাসি এক্স-স্কাট
Name[br]=XSkat gallek
Name[bs]=XSkat Francuski
Name[ca]=XSkat francès
Name[ca@valencia]=XSkat francés
Name[cs]=Francouzský XSkat
Name[cy]=XSkat Ffrangeg
Name[da]=XSkat-fransk
Name[de]=XSkat Französisch
Name[el]=XSkat Γαλλικό
Name[en_GB]=XSkat French
Name[eo]=XSkat Franca
Name[es]=XSkat francés
Name[et]=XSkat (Prantsuse)
Name[eu]=XSkat Frantsesa
Name[fa]=XSkat فرانسوی
Name[fi]=XSkat ranska
Name[fr]=XSkat en Français
Name[ga]=XSkat Francach
Name[gl]=XSkat francés
Name[he]=XSkat צרפתי
Name[hne]=एक्सस्कात फ्रेंच
Name[hr]=Francuski XSkat
Name[hu]=FRancia XSkat
Name[id]=XSkat Prancis
Name[is]=XSkat á frönsku
Name[it]=XSkat francese
Name[ja]=XSkat フランス語
Name[ka]=XSkat ფრანგული
Name[kk]=Французша XSkat
Name[km]=XSkat បារាំង
Name[ko]=프랑스 XSkat
Name[lt]=XSkat Prancūziškai
Name[lv]=XSkat franču
Name[mk]=Француски XSkat
Name[mr]=एक्स-स्केट फ्रेंच
Name[nb]=Fransk XSkat
Name[nds]=XSkat (Franzöösch)
Name[ne]=एक्स स्क्याट फ्रेन्च
Name[nl]=XSkat Frans
Name[nn]=Fransk XSkat
Name[pa]=XSkat ਫਰੈਂਚ
Name[pl]=Francuski skat
Name[pt]=XSkat Francês
Name[pt_BR]=XSkat Francês
Name[ro]=XSkat Franceză
Name[ru]=Французский XSkat
Name[sa]=XSkat फ्रेंच
Name[se]=Fránskkalaš XSkat
Name[sk]=XSkat francúzsky
Name[sl]=Francoski XSkat
Name[sr]=Икс‑скат француски
Name[sr@ijekavian]=Икс‑скат француски
Name[sr@ijekavianlatin]=X‑skat francuski
Name[sr@latin]=X‑skat francuski
Name[sv]=Fransk X-skat
Name[ta]=XSkat ஃபிரஞ்ச்
Name[tg]=XSkat Фаронсавӣ
Name[tr]=XSkat Fransızca
Name[uk]=Французький XSkat
Name[wa]=XSkat francès
Name[zh_CN]=XSkat 法语
Name[zh_TW]=XSkat 法語
Preview=11.png
SVG=french.svgz
Back=Tristan

