[KGameTheme]
Name=Desert Sands
Name[bs]=Pustinjski pjesak
Name[ca]=Sorres del desert
Name[ca@valencia]=Sorres del desert
Name[da]=Ørkensand
Name[de]=Wüstensand
Name[el]=Άμμος της ερήμου
Name[en_GB]=Desert Sands
Name[es]=Arenas del desierto
Name[et]=Kõrbeliiv
Name[fi]=Aavikon hiekat
Name[fr]=Les sables du désert
Name[ga]=Desert Sands
Name[gl]=Areas do deserto
Name[hu]=Sivatagi homok
Name[id]=Gurun Padang Pasir
Name[is]=Eyðimerkursandur
Name[it]=Sabbie del deserto
Name[kk]=Шөл құмы
Name[km]=វាល​ខ្សាច់
Name[ko]=사막 모래
Name[lt]=Dykumos smėliai
Name[lv]=Tuksneša smiltis
Name[mr]=वाळवंटातील वाळू
Name[nb]=Ørkensand
Name[nds]=Wööstensand
Name[nl]=Woestijnzand
Name[pl]=Pustynne piaski
Name[pt]=Areias do Deserto
Name[pt_BR]=Areias do deserto
Name[ro]=Nisipuri din deșert
Name[ru]=Пески пустыни
Name[sk]=Púštne piesky
Name[sl]=Puščavski pesek
Name[sr]=Пустињски песак
Name[sr@ijekavian]=Пустињски пијесак
Name[sr@ijekavianlatin]=Pustinjski pijesak
Name[sr@latin]=Pustinjski pesak
Name[sv]=Ökensand
Name[tr]=Çöl Kumları
Name[uk]=Піски пустелі
Name[x-test]=xxDesert Sandsxx
Name[zh_CN]=沙漠之风
Name[zh_TW]=沙漠之沙
Description=Egyptian style theme.
Description[bs]=Tema u Egipatskom stilu.
Description[ca]=Tema d'estil egipci.
Description[ca@valencia]=Tema d'estil egipci.
Description[cs]=Motiv egyptského stylu.
Description[da]=Tema i egyptisk stil.
Description[de]=Das ägyptische Design.
Description[el]=Αιγυπτιακό θέμα στυλ.
Description[en_GB]=Egyptian style theme.
Description[es]=Tema de estilo egipcio.
Description[et]=Egiptuse stiilis teema.
Description[fi]=Egyptiläistyylinen teema.
Description[fr]=Thème de style égyptien.
Description[ga]=Téama ar nós na nÉigipteach.
Description[gl]=Tema visual de estilo exipcio.
Description[hu]=Egyiptomi stílusú téma.
Description[id]=Tema gaya bangsa mesir
Description[it]=Tema in stile egizio.
Description[kk]=Мысырша нақыш
Description[km]=ស្បែក​រចនាប័ទ្ម​អេហ្ស៊ីប ។
Description[ko]=이집트 스타일 테마입니다.
Description[lt]=Egipto stiliaus tema.
Description[lv]=Ēģiptes stila tēma.
Description[mr]=इजिप्शियन प्रकारची शैली.
Description[nb]=Egyptisk tema.
Description[nds]=Ägyptsch Musterstil
Description[nl]=Thema in Egyptische stijl.
Description[nn]=Egyptisk tema.
Description[pl]=Styl egipski.
Description[pt]=Tema de estilo Egípcio.
Description[pt_BR]=Tema de estilo egípcio.
Description[ro]=Tematică în stil egiptean.
Description[ru]=Оформление в египетском стиле.
Description[sk]=Egyptský štýl.
Description[sl]=Egipčanska tema.
Description[sr]=Тема у египатском стилу
Description[sr@ijekavian]=Тема у египатском стилу
Description[sr@ijekavianlatin]=Tema u egipatskom stilu
Description[sr@latin]=Tema u egipatskom stilu
Description[sv]=Tema med egyptisk stil.
Description[tr]=Mısırlı stili tema
Description[uk]=Тема у єгипетському стилі.
Description[x-test]=xxEgyptian style theme.xx
Description[zh_CN]=埃及风格主题。
Description[zh_TW]=埃及風格主題。
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=ancientegypt.svgz
Preview=ancientegypt.png
