[KGameTheme]
Name=Desert Sands
Description=Egyptian style theme.
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=ancientegypt.svgz
Preview=ancientegypt.png
