[KGameTheme]
Name=Clean Green
Name[ca]=Verd net
Name[ca@valencia]=Verd net
Name[da]=Ren grøn
Name[de]=Sauberes Grün
Name[en_GB]=Clean Green
Name[es]=Verde limpio
Name[et]=Puhas roheline
Name[fr]=Vert épuré
Name[is]=Tær-grænn
Name[nds]=Oprüümt Gröön
Name[nl]=Schoon groen
Name[pt]=Verde Limpo
Name[pt_BR]=Verde limpo
Name[sr]=Чисто зелено
Name[sr@ijekavian]=Чисто зелено
Name[sr@ijekavianlatin]=Čisto zeleno
Name[sr@latin]=Čisto zeleno
Name[sv]=Rent grön
Name[tr]=Temiz Yeşil
Name[uk]=Чиста зелена
Name[x-test]=xxClean Greenxx
Name[zh_TW]=Clean Green
Description=A simple green felt theme
Description[ca]=Un tema senzill de sentiments verds
Description[ca@valencia]=Un tema senzill de sentiments verds
Description[da]=Et simpelt tema med grøn filt
Description[de]=Ein einfaches grün-gefühltes Design.
Description[en_GB]=A simple green felt theme
Description[es]=Un tema simple de fieltro verde
Description[et]=Lihtne rohekas teema
Description[fr]=Thème simple à l'atmosphère verte
Description[nds]=En eenfach gröön Filtmuster
Description[nl]=Een eenvoudig thema met groen vilt
Description[pt]=Um tema simples em verde
Description[pt_BR]=Um tema simples em verde
Description[sr]=Једноставна зеленкаста тема
Description[sr@ijekavian]=Једноставна зеленкаста тема
Description[sr@ijekavianlatin]=Jednostavna zelenkasta tema
Description[sr@latin]=Jednostavna zelenkasta tema
Description[sv]=Ett enkelt tema med grön filt
Description[tr]=Basit bir yeşil keçe teması
Description[uk]=Проста зелена тема
Description[x-test]=xxA simple green felt themexx
Description[zh_TW]=簡單的綠色感覺的主題
Author=Parker Coates
AuthorEmail=parker.coates@kdemail.net
Type=SVG
FileName=cleangreen.svgz
Preview=cleangreen.png
