[KGameTheme]
Name=Clean Green
Description=A simple green felt theme
Author=Parker Coates
AuthorEmail=parker.coates@kdemail.net
Type=SVG
FileName=cleangreen.svgz
Preview=cleangreen.png
