[KGameTheme]
Name=Green Blaze
Name[bs]=Zeleni plamen
Name[ca]=Tramat verd
Name[ca@valencia]=Tramat verd
Name[da]=Green Blaze
Name[de]=Grüne Flamme
Name[el]=Green Blaze
Name[en_GB]=Green Blaze
Name[es]=Resplandor verde
Name[et]=Rohesära
Name[fi]=Vihreä loisto
Name[fr]=Vert flamboyant
Name[ga]=Green Blaze
Name[gl]=Lume verde
Name[hu]=Zöld láng
Name[id]=Hijau Menyala
Name[it]=Verde intenso
Name[kk]=Жасыл жалын
Name[km]=បៃតង​ច្រាល
Name[ko]=녹색 불꽃
Name[lv]=Zaļais mirdzums
Name[mr]=हिरवा ब्लेझ
Name[nb]=Green Blaze
Name[nds]=Gröön Gloot
Name[nl]=Groene glans
Name[pl]=Blask zieleni
Name[pt]=Fundo Verde
Name[pt_BR]=Fundo verde
Name[ru]=Зелёное пламя
Name[sk]=Zelená žiara
Name[sl]=Zelen žar
Name[sr]=Зелена префињеност
Name[sr@ijekavian]=Зелена префињеност
Name[sr@ijekavianlatin]=Zelena prefinjenost
Name[sr@latin]=Zelena prefinjenost
Name[sv]=Grön flamma
Name[tr]=Yeşil Ateş
Name[uk]=Зелене полум’я
Name[x-test]=xxGreen Blazexx
Name[zh_CN]=绿色柔纹
Name[zh_TW]=Green Blaze
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=greenblaze.svgz
Preview=greenblaze.png
