[KGameTheme]
Name=Green Blaze
Name[x-test]=xxGreen Blazexx
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=greenblaze.svgz
Preview=greenblaze.png
