[KGameTheme]
Name=Green Blaze
Name[pt]=Fundo Verde
Name[uk]=Зелене полум’я
Name[x-test]=xxGreen Blazexx
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=greenblaze.svgz
Preview=greenblaze.png
