[KGameTheme]
Name=Older Theme
Description=An older, unnamed KPat theme.
Author=Sean Wilson & Eugene Trounev
AuthorEmail=suseux@gmail.com, eugene.trounev@gmail.com
FileName=oldertheme.svgz
Preview=oldertheme.png
