[KGameTheme]
Name=Older Theme
Name[bs]=Starija tema
Name[ca]=Tema antic
Name[ca@valencia]=Tema antic
Name[da]=Ældre tema
Name[de]=Älteres Design
Name[el]=Παλαιότερο θέμα
Name[en_GB]=Older Theme
Name[es]=Tema más antiguo
Name[et]=Vanamoeline teema
Name[fi]=Vanhempi teema
Name[fr]=Ancien thème
Name[ga]=Téama Níos Sine
Name[gl]=Tema visual vello
Name[hu]=Régi téma
Name[id]=Tema Lama
Name[is]=Eldra þema
Name[it]=Tema classico
Name[kk]=Ескі нақышы
Name[km]=ស្បែក​ចាស់​
Name[ko]=고전 테마
Name[lt]=Senesnė tema
Name[lv]=Vecāka tēma
Name[mr]=जुनी शैली
Name[nb]=Eldre tema
Name[nds]=Öller Muster
Name[nl]=Ouder thema
Name[pa]=ਪੁਰਾਣਾ ਥੀਮ
Name[pl]=Starszy wystrój
Name[pt]=Tema Antigo
Name[pt_BR]=Tema antigo
Name[ro]=Temă mai veche
Name[ru]=Старейшее оформление
Name[sk]=Staršia téma
Name[sl]=Starejša tema
Name[sr]=Старија тема
Name[sr@ijekavian]=Старија тема
Name[sr@ijekavianlatin]=Starija tema
Name[sr@latin]=Starija tema
Name[sv]= Äldre tema
Name[tr]=Eski Tema
Name[ug]=كونىراق ئۆرنەك
Name[uk]=Стара тема
Name[x-test]=xxOlder Themexx
Name[zh_CN]=怀旧主题
Name[zh_TW]=舊式主題
Description=An older, unnamed KPat theme.
Description[bs]=Starija, bezimena KPat tema
Description[ca]=Un antic tema sense nom del KPat.
Description[ca@valencia]=Un antic tema sense nom del KPat.
Description[da]=Et ældre, unavngivet KPat-tema.
Description[de]=Ein älteres KPat-Design (ohne Namen).
Description[el]=Παλαιότερο, χωρίς τίτλο θέμα KPat.
Description[en_GB]=An older, unnamed KPat theme.
Description[es]=Un tema más viejo sin nombre de KPat
Description[et]=Vanem, nimetu KPati teema.
Description[fi]=Vanhempi, nimetön KPat-teema.
Description[fr]=Un ancien thème sans nom pour KPat.
Description[ga]=Seantéama KPat gan ainm.
Description[gl]=Un tema visual vello sen nome para o KPat.
Description[hu]=Egy régi, névtelen KPat-téma.
Description[id]=Yang lama, tema KPat tak bernama.
Description[is]=Gamalt, ónefnt KPat þema
Description[it]=Un vecchio tema senza nome per KPat
Description[kk]=Ескі, аталмаған KPat нақышы
Description[km]=ស្បែក​ចាស់ និង​គ្មាន​ឈ្មោះ​​របស់ KPat  ។
Description[ko]=이름이 없었던 KPat 테마입니다.
Description[lt]=Senesnė, nepavadinta KPat tema.
Description[lv]=Vecāka, nenosaukta KPat tēma.
Description[mr]=जुनी, निनावी के-पेट शैली.
Description[nb]=Et eldre, navnløst KPat-tema.
Description[nds]=En öller Muster ahn Naam för "KPat".
Description[nl]=Een ouder KPat-thema zonder naam
Description[pl]=Starszy, nienazwany wystrój KPat.
Description[pt]=Um tema mais antigo e anónimo do KPat.
Description[pt_BR]=Um tema mais antigo e sem nome do KPat.
Description[ru]=Старое безымянное оформление для KPat
Description[sk]=Staršia, nepomenovaná KPat téma.
Description[sl]=Starejša, neimenovana tema za KPata
Description[sr]=Стара неименована тема К‑пасијанса.
Description[sr@ijekavian]=Стара неименована тема К‑пасијанса.
Description[sr@ijekavianlatin]=Stara neimenovana tema K‑pasijansa.
Description[sr@latin]=Stara neimenovana tema K‑pasijansa.
Description[sv]=Ett äldre namnlöst tema för Kpat.
Description[tr]=Eski, isimsiz KPat teması.
Description[ug]=كونىراق، ئاتسىز KPat ئۆرنىكى
Description[uk]=Стара тема KPat без назви.
Description[x-test]=xxAn older, unnamed KPat theme.xx
Description[zh_CN]=一套无名的 KPat 怀旧主题。
Description[zh_TW]=舊式的，未命名的 KPat 主題
Author=Sean Wilson & Eugene Trounev
AuthorEmail=suseux@gmail.com, eugene.trounev@gmail.com
FileName=oldertheme.svgz
Preview=oldertheme.png
