[KGameTheme]
Name=Royal Hearts
Name[ca]=Cors reials
Name[ca@valencia]=Cors reials
Name[de]=Royal Hearts
Name[es]=Corazones reales
Name[nl]=Royal Hearts
Name[sl]=Kraljeva srca
Name[sv]=Kungliga hjärter
Name[uk]=Королівські серця
Name[x-test]=xxRoyal Heartsxx
Description=Card style theme
Description[ca]=Tema d'estil de carta
Description[ca@valencia]=Tema d'estil de carta
Description[de]=Karten-Design
Description[es]=Tema del estilo de cartas
Description[nl]=Themastijl van kaart
Description[sl]=Tema sloga kart
Description[sv]=Kortlekens tema
Description[uk]=Тема колоди карт
Description[x-test]=xxCard style themexx
Author=Sean Wilson & Eugene Trounev
AuthorEmail=suseux@gmail.com, eugene.trounev@gmail.com
FileName=royalhearts.svgz
Preview=royalhearts.png
