[KGameTheme]
Name=Royal Hearts
Name[ar]=القلوب الملكية
Name[bg]=Royal Hearts
Name[ca]=Cors reials
Name[ca@valencia]=Cors reials
Name[cs]=Královská srdce
Name[de]=Royal Hearts
Name[el]=Βασιλικές κούπες
Name[en_GB]=Royal Hearts
Name[eo]=Reĝaj Koroj
Name[es]=Corazones reales
Name[eu]=Errege-bihotzak
Name[fi]=Royal Hearts
Name[fr]=Royal Hearts
Name[gl]=Corazóns reais
Name[he]=לבבות מלכותיים
Name[hu]=Királyi szívek
Name[it]=Cuori reali
Name[ka]=სამეფო გულები
Name[ko]=로열 하트
Name[lv]=Karaliskās sirdis
Name[nl]=Royal Hearts
Name[nn]=Kongelege hjarter
Name[pl]=Królewskie serca
Name[pt]=Copas Reais
Name[pt_BR]=Copas royal
Name[ru]=Королевские сердца
Name[sl]=Kraljeva srca
Name[sv]=Kungliga hjärter
Name[tr]=Kraliyet Kupası
Name[uk]=Королівські серця
Name[x-test]=xxRoyal Heartsxx
Name[zh_CN]=皇家之心
Name[zh_TW]=王牌紅心
Description=Card style theme
Description[ar]=سمة نمط الورق
Description[bg]=Стил и изглед на картите
Description[ca]=Tema d'estil de carta
Description[ca@valencia]=Tema d'estil de carta
Description[cs]=Motiv stylu karet
Description[de]=Karten-Design
Description[el]=Θέμα στιλ κάρτας
Description[en_GB]=Card style theme
Description[eo]=Kartostila etoso
Description[es]=Tema del estilo de cartas.
Description[eu]=Karta estiloko gaia
Description[fi]=Korttiteema
Description[fr]=Thème de style de cartes.
Description[gl]=Tema visual de naipes.
Description[he]=ערכת עיצוב בסגנון קלפים
Description[hu]=Kártya stílusú téma
Description[it]=Tema di stile delle carte
Description[ka]=კარტის სტილის თემა
Description[ko]=카드 스타일 테마
Description[lv]=Kāršu motīvs
Description[nl]=Themastijl van kaart
Description[nn]=Kortstil-tema
Description[pl]=Wygląd kart.
Description[pt]=Tema de estilo de cartas.
Description[pt_BR]=Tema de estilo das cartas
Description[ru]=Оформление в стиле карт
Description[sl]=Tema sloga kart
Description[sv]=Kortlekens tema
Description[tr]=Kart biçemi teması
Description[uk]=Тема колоди карт
Description[x-test]=xxCard style themexx
Description[zh_CN]=卡片样式主题
Description[zh_TW]=卡牌風格主題
Author=Sean Wilson & Eugene Trounev
AuthorEmail=suseux@gmail.com, eugene.trounev@gmail.com
FileName=royalhearts.svgz
Preview=royalhearts.png
