[KGameTheme]
Name=Royal Hearts
Name[ca]=Cors reials
Name[ca@valencia]=Cors reials
Name[cs]=Královská srdce
Name[de]=Royal Hearts
Name[en_GB]=Royal Hearts
Name[es]=Corazones reales
Name[fi]=Royal Hearts
Name[fr]=Royal Hearts
Name[it]=Cuori reali
Name[ko]=로열 하트
Name[nl]=Royal Hearts
Name[pt]=Copas Reais
Name[sl]=Kraljeva srca
Name[sv]=Kungliga hjärter
Name[uk]=Королівські серця
Name[x-test]=xxRoyal Heartsxx
Description=Card style theme
Description[ca]=Tema d'estil de carta
Description[ca@valencia]=Tema d'estil de carta
Description[cs]=Motiv stylu karet
Description[de]=Karten-Design
Description[en_GB]=Card style theme
Description[es]=Tema del estilo de cartas
Description[fi]=Korttiteema
Description[fr]=Thème de style de cartes.
Description[it]=Tema di stile delle carte
Description[ko]=카드 스타일 테마
Description[nl]=Themastijl van kaart
Description[pt]=Tema de estilo de cartas.
Description[pt_BR]=Tema de estilo das cartas
Description[sl]=Tema sloga kart
Description[sv]=Kortlekens tema
Description[uk]=Тема колоди карт
Description[x-test]=xxCard style themexx
Author=Sean Wilson & Eugene Trounev
AuthorEmail=suseux@gmail.com, eugene.trounev@gmail.com
FileName=royalhearts.svgz
Preview=royalhearts.png
