[Desktop Entry]
Name=KPatience
Name[ar]=سوليتير ك
Name[ast]=KPatience
Name[bg]=KPatience
Name[bs]=KPatience
Name[ca]=KPatience
Name[ca@valencia]=KPatience
Name[cs]=KPatience
Name[da]=KPatience
Name[de]=KPatience
Name[el]=KPatience
Name[en_GB]=KPatience
Name[eo]=KPatience
Name[es]=KPatience
Name[et]=KPatience
Name[eu]=KPatience
Name[fi]=KPatience
Name[fr]=KPatience
Name[ga]=KPatience
Name[gl]=KPatience
Name[he]=KPatience
Name[hne]=के-पेसेन्स
Name[hu]=KPatience
Name[ia]=KPatience
Name[id]=KPatience
Name[it]=KPatience
Name[ja]=KPatience
Name[ka]=KPatience
Name[kk]=KPatience
Name[km]=KPatience
Name[ko]=KPatience
Name[lt]=KPatience
Name[lv]=KPatience
Name[mr]=के-पेशन्स
Name[nb]=Kabal
Name[nds]=KPatience
Name[nl]=KPatience
Name[nn]=KPatience
Name[pa]=ਕੇਪੇਟੀਨਸ਼
Name[pl]=Pasjans
Name[pt]=KPatience
Name[pt_BR]=KPatience
Name[ro]=KPasențe
Name[ru]=KPatience
Name[sa]=केधैर्यम्
Name[sk]=KPatience
Name[sl]=KPatience
Name[sr]=К‑пасијанс
Name[sr@ijekavian]=К‑пасијанс
Name[sr@ijekavianlatin]=K‑pasijans
Name[sr@latin]=K‑pasijans
Name[sv]=Patiens
Name[tr]=K Sabır
Name[ug]=KPatience
Name[uk]=Пасьянс
Name[wa]=KPacyince
Name[x-test]=xxKPatiencexx
Name[zh_CN]=KPatience
Name[zh_TW]=KPatience 接龍
Exec=kpat -qwindowtitle %c %u
Type=Application
Icon=kpat
X-DocPath=kpat/index.html
GenericName=Patience Card Game
GenericName[af]=Patience Kaart Speletjie
GenericName[ar]=لعبة ورق سوليتير
GenericName[be]=Картачны пасьянс
GenericName[bg]=Пасианс с карти
GenericName[bn]=পেশেন্স নামের তাস খেলা
GenericName[br]=C'hoari a habaskter
GenericName[bs]=Kartaška igra strpljenja
GenericName[ca]=Joc de cartes del solitari
GenericName[ca@valencia]=Joc de cartes del solitari
GenericName[cs]=Karetní hra Pasiáns
GenericName[cy]=Gêm Cerdiau Patience
GenericName[da]=Kabale-kortspil
GenericName[de]=Patiencen legen
GenericName[el]=Παιχνίδι καρτών πασιέντζας
GenericName[en_GB]=Patience Card Game
GenericName[eo]=Pacienca Kartludo
GenericName[es]=Juego de cartas Patience
GenericName[et]=Kaardimäng
GenericName[eu]=Pazientzia karta-jokoa
GenericName[fa]=بازی Patience Card
GenericName[fi]=Pasianssi-korttipeli
GenericName[fr]=Jeux de réussite
GenericName[ga]=Cluiche Cártaí Patience
GenericName[gl]=Xogo de cartas
GenericName[he]=משחק קלפים סוליטר
GenericName[hne]=पेसेंस तास वाले खेल
GenericName[hr]=Kartaška igra pasijansa
GenericName[hu]=Pasziánsz kártyajáték
GenericName[id]=Permainan Kartu Patience
GenericName[is]=Kaplar
GenericName[it]=Solitari con le carte
GenericName[ja]=Patience カードゲーム
GenericName[ka]=კარტის თამაში Patience
GenericName[kk]=Пасьянс ойны
GenericName[km]=ល្បែង​បៀ Patience
GenericName[ko]=카드 놀이
GenericName[lt]=Pasianso kortų žaidimas
GenericName[lv]=KPatience kāršu spēle
GenericName[mk]=Пасијанс - игра со карти
GenericName[mr]=पेशन्स पत्यांचा खेळ
GenericName[nb]=Kabalspill
GenericName[nds]=Patschangsen leggen
GenericName[ne]=शान्त कार्ड खेल
GenericName[nl]=Patience-kaartspel
GenericName[nn]=Kabalspel
GenericName[pl]=Gra karciana Patience
GenericName[pt]=Jogo de Paciência
GenericName[pt_BR]=Jogo de cartas paciência
GenericName[ro]=Joc de cărți de răbdare
GenericName[ru]=Карточный пасьянс
GenericName[sa]=धैर्य कार्ड गेम
GenericName[se]=Kabálaspeallu
GenericName[sk]=Kartová hra Patience
GenericName[sl]=Igra s kartami Patience
GenericName[sr]=Пасијанс са картама
GenericName[sr@ijekavian]=Пасијанс са картама
GenericName[sr@ijekavianlatin]=Pasijans sa kartama
GenericName[sr@latin]=Pasijans sa kartama
GenericName[sv]=Patienskortspel
GenericName[ta]=பொறுமையான சீட்டு விளையாட்டு
GenericName[te]=సహనం పేక ఆట
GenericName[tg]=Бозии Пасянси Кортӣ
GenericName[tr]=Sabır Kart Oyunu
GenericName[ug]=سەۋر تاقەت كارتا ئويۇنى
GenericName[uk]=Гра картами у пасьянс
GenericName[wa]=Cwårdjeu d' pacyince
GenericName[xh]=Ikhadi lomdlalo wokunyamezela
GenericName[x-test]=xxPatience Card Gamexx
GenericName[zh_CN]=考验耐心的牌类游戏
GenericName[zh_TW]=單人玩的紙牌遊戲
Comment=Solitaire card game
Comment[ar]=لعبة ورق سوليتير
Comment[bg]=Игра на карти - пасианси
Comment[ca]=Joc de cartes al solitari
Comment[ca@valencia]=Joc de cartes al solitari
Comment[cs]=Karetní hra Solitaire
Comment[da]=Kabale kortspil
Comment[de]=Solitär-Kartenspiel
Comment[el]=Παιχνίδι καρτών solitaire
Comment[en_GB]=Solitaire card game
Comment[eo]=Solita kartludo
Comment[es]=Juego de cartas solitario
Comment[et]=Solitaire kaardimäng
Comment[eu]=Bakarkako karta-jokoa
Comment[fi]=Pasianssikorttipeli
Comment[fr]=Jeu de solitaire
Comment[gl]=Xogo de cartas do solitario.
Comment[he]=משחק קלפים ליחיד
Comment[hu]=Pasziánsz kártyajáték
Comment[id]=Permainan kartu solitaire
Comment[it]=Solitari con le carte
Comment[ka]=კარტის თამაში Solitaire
Comment[ko]=솔리테어 카드 게임
Comment[lv]=Pasjansa kāršu spēle
Comment[nl]=Solitaire kaartspel
Comment[nn]=Kabelspel
Comment[pl]=Gra pasjans
Comment[pt]=Jogo de cartas solitário
Comment[pt_BR]=Jogo de cartas paciência
Comment[ru]=Косынка
Comment[sa]=एकांत ताश खेल
Comment[sk]=Solitaire kartová hra
Comment[sl]=Igra Pasjanse
Comment[sr]=Игра пасијанса
Comment[sr@ijekavian]=Игра пасијанса
Comment[sr@ijekavianlatin]=Igra pasijansa
Comment[sr@latin]=Igra pasijansa
Comment[sv]=Patienskortspel
Comment[tr]=Solitaire kart oyunu
Comment[uk]=Карткова гра у пасьянс
Comment[x-test]=xxSolitaire card gamexx
Comment[zh_CN]=纸牌游戏
Comment[zh_TW]=接龍卡片遊戲
Categories=Qt;KDE;Game;CardGame;
MimeType=application/vnd.kde.kpatience.savedstate;
Keywords=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;normandy;klondike;mod3;simple simon;spider;yukon;
Keywords[ar]=الآسات ;دزينة الخباز;القلعة;ثمانية وأربعون;الخلية الحرة;الذهب;الجد;ساعة الجد;الغجرية;كلوندايك;mod3;سيمون بسيط; العنكبوت;يوكون;
Keywords[bg]=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;gypsy;klondike;mod3;simple simon;spider;yukon;
Keywords[ca]=Asos amunt;dotzena del forner;castell;quaranta i vuit;quaranta-vuit;cel·la lliure;or;avi;rellotge de l'avi;gitano;klondike;mod3;ximple simó;aranya;yukon;
Keywords[ca@valencia]=Asos amunt;dotzena del forner;castell;quaranta i huit;quaranta-huit;cel·la lliure;or;avi;rellotge de l'avi;gitano;klondike;mod3;ximple simó;aranya;yukon;
Keywords[es]=Ases arriba;la docena del panadero;castillo;cuarenta y ocho;celda libre;oro;el abuelo;el reloj del abuelo;el gitano;klondike;mod3;simón fácil;araña;yukón;
Keywords[eu]=Batekoak gora;okinaren dozena;berrogeita zortzi;berrogei eta zortzi;freecell;gela hutsa;urrea;aitona;aitonaren erlojua;ijitoa;klondike;mod3;simon sinplea;simon erraza;armiarma;yukon;
Keywords[fr]=As ; douzaine de boulangers ;château ;quarante-huit ; quarante huit ; freecell ; or ; grand-père ; horloge du grand-père ;gitan ;klondike ;mod3 ; simon simple ; spider ;yukon ;
Keywords[gl]=4 ases;catro ases;12 de Baker;ducia de Baker;castelo;48;corenta e oito;carta branca;ouro;avó;reloxo do avó;xitano;klondike;mod3;Simón simple;araña;yukon;
Keywords[he]=אסים למעלה;תריסר האופה;טירה;ארבעים ושמונה;פריסל;זהב;סבא;הסבא;שעון הסבא;צועני;צוענים;קלונדייק;סיימון פשוט;מוד3;עכביש;יוקון;
Keywords[hu]=Ászok felfelé;Péktucat;Kastély;Negyvennyolc;Admirális;Arany;Nagypapa;A nagypapa órája;Cigány;Klondike;mod3;Egyszerű Simon;Fekete özvegy;Yukon
Keywords[it]=Assi in alto;dozzina del fornaio;castello;quarantotto;quarantotto;freecell;oro;nonno;orologio del nonno;zingaro;klondike;mod3;simon semplice;ragno;yukon;
Keywords[ka]=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;gypsy;klondike;mod3;simple simon;spider;yukon;კარტი;
Keywords[nl]=Azen omhoog;bakkers dozijn;kasteel;veertig en acht;achtenveertig;freecell;goud;grootvader;grootvadersklok;zigeuner;klondike;mod3;eenvoudige simon;spin;yukon;
Keywords[nn]=bestefarkabal;tretten på dusinet;festning;førti og åtte;frifelt;golf;bestefarsklokke;sigøynar;sjuaren;klondike;mod3;slipe-simon;edderkoppen;yukon;
Keywords[ru]=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;gypsy;klondike;mod3;simple simon;spider;yukon;туз наверх; пекарская дюжина; замок; сорок и восемь; сорок восемь; ФриСелл; золото; дедушка; часы деда; цыганка; клондайк; простой симон; паук; юкон;
Keywords[sl]=Aces up;pekovih ducat;grad;štirideset in osem;oseminštirideset;freecell;zlato;dedek;dedkova ura;cigan;klondike;mod3;enostavni Simon;pajek;yukon;
Keywords[sv]=Idioten;tretton högar;slott;fyrtio och åtta;fyrtio-åtta;kungen;guld;farfarpatiens;farfarsklocka;tattare;klondike;mod3;följa john;spindel;yukon;
Keywords[tr]=aces up;aslar yukarı;baker's dozen;fırıncı düzinesi;castle;kale;forty and eight;forty-eight;kırk sekiz;freecell;özgür hücre;gold;altın;grandfather;büyükbaba;grandfather's clock;büyükbabanın saati;gypsy;çingene;klondike;klondike;mod3;mod3;simple simon;basit simon;spider;örümcek;yukon;Yukon;
Keywords[uk]=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;gypsy;klondike;mod3;simple simon;spider;yukon;тузи згори;дюжина пекаря;замок;сорок вісім;косинка;золото;дідусь;годинник дідуся;циганський;клондайк;мод3;саймон-простак;павук;юкон;
Keywords[x-test]=xxAces upxx;xxbaker's dozenxx;xxcastlexx;xxforty and eightxx;xxforty-eightxx;xxfreecellxx;xxgoldxx;xxgrandfatherxx;xxgrandfather's clockxx;xxnormandyxx;xxklondikexx;xxmod3xx;xxsimple simonxx;xxspiderxx;xxyukonxx;
