[Desktop Entry]
Name=KPatience
Name[ar]=سوليتير ك
Name[ast]=KPatience
Name[bg]=KPatience
Name[bs]=KPatience
Name[ca]=KPatience
Name[ca@valencia]=KPatience
Name[cs]=KPatience
Name[da]=KPatience
Name[de]=KPatience
Name[el]=KPatience
Name[en_GB]=KPatience
Name[eo]=KPatience
Name[es]=KPatience
Name[et]=KPatience
Name[eu]=KPatience
Name[fi]=KPatience
Name[fr]=KPatience
Name[ga]=KPatience
Name[gl]=KPatience
Name[he]=KPatience
Name[hne]=के-पेसेन्स
Name[hu]=KPatience
Name[ia]=KPatience
Name[id]=KPatience
Name[it]=KPatience
Name[ja]=KPatience
Name[ka]=KPatience
Name[kk]=KPatience
Name[km]=KPatience
Name[ko]=KPatience
Name[lt]=KPatience
Name[lv]=KPatience
Name[mr]=के-पेशन्स
Name[nb]=Kabal
Name[nds]=KPatience
Name[nl]=KPatience
Name[nn]=KPatience
Name[pa]=ਕੇਪੇਟੀਨਸ਼
Name[pl]=Pasjans
Name[pt]=KPatience
Name[pt_BR]=KPatience
Name[ro]=KPasențe
Name[ru]=KPatience
Name[sa]=केधैर्यम्
Name[sk]=KPatience
Name[sl]=KPatience
Name[sr]=К‑пасијанс
Name[sr@ijekavian]=К‑пасијанс
Name[sr@ijekavianlatin]=K‑pasijans
Name[sr@latin]=K‑pasijans
Name[sv]=Patiens
Name[tr]=K Sabır
Name[ug]=KPatience
Name[uk]=Пасьянс
Name[wa]=KPacyince
Name[zh_CN]=KPatience
Name[zh_TW]=KPatience 接龍
Exec=kpat -qwindowtitle %c %u
Type=Application
Icon=kpat
X-DocPath=kpat/index.html
GenericName=Patience Card Game
GenericName[af]=Patience Kaart Speletjie
GenericName[ar]=لعبة ورق سوليتير
GenericName[be]=Картачны пасьянс
GenericName[bg]=Пасианс с карти
GenericName[bn]=পেশেন্স নামের তাস খেলা
GenericName[br]=C'hoari a habaskter
GenericName[bs]=Kartaška igra strpljenja
GenericName[ca]=Joc de cartes del solitari
GenericName[ca@valencia]=Joc de cartes del solitari
GenericName[cs]=Karetní hra Pasiáns
GenericName[cy]=Gêm Cerdiau Patience
GenericName[da]=Kabale-kortspil
GenericName[de]=Patiencen legen
GenericName[el]=Παιχνίδι καρτών πασιέντζας
GenericName[en_GB]=Patience Card Game
GenericName[eo]=Pacienca Kartludo
GenericName[es]=Juego de cartas Patience
GenericName[et]=Kaardimäng
GenericName[eu]=Pazientzia karta-jokoa
GenericName[fa]=بازی Patience Card
GenericName[fi]=Pasianssi-korttipeli
GenericName[fr]=Jeux de réussite
GenericName[ga]=Cluiche Cártaí Patience
GenericName[gl]=Xogo de cartas
GenericName[he]=משחק קלפים סוליטר
GenericName[hne]=पेसेंस तास वाले खेल
GenericName[hr]=Kartaška igra pasijansa
GenericName[hu]=Pasziánsz kártyajáték
GenericName[id]=Permainan Kartu Patience
GenericName[is]=Kaplar
GenericName[it]=Solitari con le carte
GenericName[ja]=Patience カードゲーム
GenericName[ka]=კარტის თამაში Patience
GenericName[kk]=Пасьянс ойны
GenericName[km]=ល្បែង​បៀ Patience
GenericName[ko]=카드 놀이
GenericName[lt]=Pasianso kortų žaidimas
GenericName[lv]=KPatience kāršu spēle
GenericName[mk]=Пасијанс - игра со карти
GenericName[mr]=पेशन्स पत्यांचा खेळ
GenericName[nb]=Kabalspill
GenericName[nds]=Patschangsen leggen
GenericName[ne]=शान्त कार्ड खेल
GenericName[nl]=Patience-kaartspel
GenericName[nn]=Kabalspel
GenericName[pl]=Gra karciana Patience
GenericName[pt]=Jogo de Paciência
GenericName[pt_BR]=Jogo de cartas paciência
GenericName[ro]=Joc de cărți de răbdare
GenericName[ru]=Карточный пасьянс
GenericName[sa]=धैर्य कार्ड गेम
GenericName[se]=Kabálaspeallu
GenericName[sk]=Kartová hra Patience
GenericName[sl]=Igra s kartami Pasjansa
GenericName[sr]=Пасијанс са картама
GenericName[sr@ijekavian]=Пасијанс са картама
GenericName[sr@ijekavianlatin]=Pasijans sa kartama
GenericName[sr@latin]=Pasijans sa kartama
GenericName[sv]=Patienskortspel
GenericName[ta]=பொறுமையான சீட்டு விளையாட்டு
GenericName[te]=సహనం పేక ఆట
GenericName[tg]=Бозии Пасянси Кортӣ
GenericName[tr]=Sabır Kart Oyunu
GenericName[ug]=سەۋر تاقەت كارتا ئويۇنى
GenericName[uk]=Гра картами у пасьянс
GenericName[wa]=Cwårdjeu d' pacyince
GenericName[xh]=Ikhadi lomdlalo wokunyamezela
GenericName[zh_CN]=考验耐心的牌类游戏
GenericName[zh_TW]=單人玩的紙牌遊戲
Comment=Solitaire card game
Comment[ar]=لعبة ورق سوليتير
Comment[bg]=Игра на карти - пасианси
Comment[ca]=Joc de cartes al solitari
Comment[ca@valencia]=Joc de cartes al solitari
Comment[cs]=Karetní hra Solitaire
Comment[da]=Kabale kortspil
Comment[de]=Solitär-Kartenspiel
Comment[el]=Παιχνίδι καρτών solitaire
Comment[en_GB]=Solitaire card game
Comment[eo]=Solita kartludo
Comment[es]=Juego de cartas solitario
Comment[et]=Solitaire kaardimäng
Comment[eu]=Bakarkako karta-jokoa
Comment[fi]=Pasianssikorttipeli
Comment[fr]=Jeu de solitaire
Comment[gl]=Xogo de cartas do solitario.
Comment[he]=משחק קלפים ליחיד
Comment[hu]=Pasziánsz kártyajáték
Comment[ia]=Joco de cartas solitario
Comment[id]=Permainan kartu solitaire
Comment[it]=Solitari con le carte
Comment[ka]=კარტის თამაში Solitaire
Comment[ko]=솔리테어 카드 게임
Comment[lv]=Pasjansa kāršu spēle
Comment[nl]=Solitaire kaartspel
Comment[nn]=Kabelspel
Comment[pl]=Gra pasjans
Comment[pt]=Jogo de cartas solitário
Comment[pt_BR]=Jogo de cartas paciência
Comment[ru]=Косынка
Comment[sa]=एकांत ताश खेल
Comment[sk]=Solitaire kartová hra
Comment[sl]=Igra Pasjanse
Comment[sr]=Игра пасијанса
Comment[sr@ijekavian]=Игра пасијанса
Comment[sr@ijekavianlatin]=Igra pasijansa
Comment[sr@latin]=Igra pasijansa
Comment[sv]=Patienskortspel
Comment[tr]=Solitaire kart oyunu
Comment[uk]=Карткова гра у пасьянс
Comment[zh_CN]=纸牌游戏
Comment[zh_TW]=接龍卡片遊戲
Categories=Qt;KDE;Game;CardGame;
MimeType=application/vnd.kde.kpatience.savedstate;
Keywords=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;normandy;klondike;mod3;simple simon;spider;yukon;
Keywords[ar]=الآسات ;دزينة الخباز;القلعة;ثمانية وأربعون;الخلية الحرة;الذهب;الجد;ساعة الجد;الغجرية;كلوندايك;mod3;سيمون بسيط; العنكبوت;يوكون;
Keywords[bg]=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;gypsy;klondike;mod3;simple simon;spider;yukon;
Keywords[ca]=Asos amunt;dotzena del forner;castell;quaranta i vuit;quaranta-vuit;cel·la lliure;or;avi;rellotge de l'avi;normandia;klondike;mod3;ximple simó;aranya;yukon;
Keywords[ca@valencia]=Asos amunt;dotzena del forner;castell;quaranta i huit;quaranta-huit;cel·la lliure;or;avi;rellotge de l'avi;normandia;klondike;mod3;ximple simó;aranya;yukon;
Keywords[de]=Asse hoch;Bäckers Dutzend;Burg;Vierzig und Acht;Achtundvierzig;Freecell;Gold;Großvater;Großvaters Uhr;Normandie;Klondike;Mod3;Einfach Simon;Spider;Yukon;
Keywords[es]=Ases arriba;la docena del panadero;castillo;cuarenta y ocho;celda libre;oro;el abuelo;el reloj del abuelo;normandía;klondike;mod3;simón fácil;araña;yukón;
Keywords[eu]=Batekoak gora;okinaren dozena;berrogeita zortzi;berrogei eta zortzi;freecell;gela hutsa;urrea;aitona;aitonaren erlojua;normandia;klondike;mod3;simon sinplea;simon erraza;armiarma;yukon;
Keywords[fr]=As ; douzaine de boulangers ;château ;quarante-huit ; quarante huit ; freecell ; or ; grand-père ; horloge du grand-père ;gitan ;klondike ;mod3 ; simon simple ; spider ;yukon ;
Keywords[gl]=4 ases;catro ases;12 de Baker;ducia de Baker;castelo;48;corenta e oito;carta branca;ouro;avó;reloxo do avó;Normandía;klondike;mod3;Simón simple;araña;yukon;
Keywords[he]=אסים למעלה;תריסר האופה;טירה;ארבעים ושמונה;פריסל;זהב;סבא;הסבא;שעון הסבא;נורמנדי;קלונדייק;סיימון פשוט;מוד3;עכביש;יוקון;
Keywords[hu]=Ászok felfelé;Péktucat;Kastély;Negyvennyolc;Admirális;Arany;Nagypapa;A nagypapa órája;Normandia;Klondike;mod3;Egyszerű Simon;Fekete özvegy;Yukon
Keywords[it]=Assi in alto;dozzina del fornaio;castello;quarantotto;freecell;oro;nonno;orologio del nonno;normandia;klondike;mod3;simon semplice;ragno;yukon;
Keywords[ka]=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;gypsy;klondike;mod3;simple simon;spider;yukon;კარტი;
Keywords[nl]=Azen omhoog;bakkers dozijn;kasteel;veertig en acht;achtenveertig;freecell;goud;grootvader;grootvadersklok;normandy;klondike;mod3;eenvoudige simon;spin;yukon;
Keywords[nn]=bestefarkabal;tretten på dusinet;festning;førti og åtte;frifelt;golf;bestefarsklokke;normandie;normandy;sjuaren;klondike;mod3;slipe-simon;edderkoppen;yukon;
Keywords[pl]=Asy górą;tuzin piekarza;zamek;czterdzieści i osiem;czterdzieściosiem;freecell;złoto;dziadek;zegar dziadka;normandia;klondike;mod3;prosty Szymon;pająk;yukon;
Keywords[pt_BR]=Ás para cima;dúzia do padeiro;castelo;quarenta e oito;quarenta e oito;célula livre;ouro;avô; relógio do avô; normandia; klondike; mod3; simon simples; aranha;yukon;
Keywords[ru]=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;normandy;klondike;mod3;simple simon;spider;yukon;туз наверх; пекарская дюжина; замок; сорок и восемь; сорок восемь; ФриСелл; золото; дедушка; часы деда; Нормандия; клондайк; простой симон; паук; юкон;
Keywords[sl]=Aces up;pekovih ducat;grad;štirideset in osem;oseminštirideset;freecell;zlato;dedek;dedkova ura;normandija;klondike;mod3;enostavni Simon;pajek;yukon;
Keywords[sv]=Idioten;tretton högar;slott;fyrtio och åtta;fyrtio-åtta;kungen;guld;farfarpatiens;farfarsklocka;normandie;klondike;mod3;följa john;spindel;yukon;
Keywords[tr]=aces up;aslar yukarı;baker's dozen;fırıncı düzinesi;castle;kale;forty and eight;forty-eight;kırk sekiz;freecell;özgür hücre;gold;altın;grandfather;büyükbaba;grandfather's clock;büyükbabanın saati;gypsy;çingene;klondike;klondike;mod3;mod3;simple simon;basit simon;spider;örümcek;yukon;Yukon;normandy;
Keywords[uk]=Aces up;baker's dozen;castle;forty and eight;forty-eight;freecell;gold;grandfather;grandfather's clock;normandy;klondike;mod3;simple simon;spider;yukon;тузи згори;дюжина пекаря;замок;сорок вісім;косинка;золото;дідусь;годинник дідуся;нормандія;клондайк;мод3;саймон-простак;павук;юкон;
Actions=aces;bakersdozen;castle;fortyeight;freecell;golf;grandfather;grandfathersclock;klondike;mod3;normandy;simplesimon;spider;yukon;

[Desktop Action aces]
Name=Aces Up
Name[ar]=أيس أب
Name[bg]=Aces Up
Name[ca]=Asos amunt
Name[ca@valencia]=Asos amunt
Name[es]=Ases arriba
Name[eu]=Batekoak gora
Name[fr]=Aces Up
Name[he]=אסים למעלה
Name[it]=Assi in alto
Name[ka]=ტუზები მაღლა
Name[nl]=Azen omhoog
Name[pt_BR]=Ases para cima
Name[sl]=Asi gor
Name[tr]=Aslar Yukarı
Name[uk]=Тузи вгору
Exec=kpat --gametype "aces up"

[Desktop Action bakersdozen]
Name=Baker's Dozen
Name[ar]=دزينة الخباز
Name[bg]=Baker's Dozen
Name[ca]=Dotzena del forner
Name[ca@valencia]=Dotzena del forner
Name[es]=Docena del panadero
Name[eu]=Okinaren dozena
Name[fr]=Baker's Dozen
Name[he]=תריסר האופה
Name[it]=Dozzina del fornaio
Name[ka]=Baker's Dozen
Name[nl]=Baker's Dozen
Name[pt_BR]=Dúzia do padeiro
Name[sl]=Pekovih ducat
Name[tr]=Fırıncı Düzinesi
Name[uk]=Чортова дюжина
Exec=kpat --gametype "baker's dozen"

[Desktop Action castle]
Name=Castle
Name[ar]=القلعة
Name[bg]=Замък
Name[ca]=Castell
Name[ca@valencia]=Castell
Name[cs]=Hrad
Name[da]=Slot
Name[el]=Κάστρο
Name[en_GB]=Castle
Name[es]=Castillo
Name[et]=Linnus
Name[eu]=Gaztelua
Name[fr]=Castle
Name[gl]=Castelo
Name[he]=טירה
Name[hr]=Castle
Name[hu]=Kastély
Name[ia]=Castello
Name[it]=Castello
Name[ka]=სასახლე
Name[kk]=Қорған
Name[km]=ប្រាសាទ
Name[lv]=Pils
Name[nds]=Slott
Name[nl]=Kasteel
Name[pl]=Zamek
Name[pt_BR]=Castelo
Name[ru]=Замок
Name[sl]=Grad
Name[sq]=Kështjella
Name[sv]=Slott
Name[tr]=Kale
Name[uk]=Замок
Name[wa]=Tchestea
Exec=kpat --gametype castle

[Desktop Action fortyeight]
Name=Forty & Eight
Name[ar]=أربعون وثمانون
Name[bg]=Четиридесет и осем
Name[ca]=Quaranta i vuit
Name[ca@valencia]=Quaranta i huit
Name[es]=Cuarenta y ocho
Name[eu]=Berrogei eta zortzi
Name[fr]=Forty & Eight
Name[he]=ארבעים ושמונה
Name[it]=Quaranta e otto
Name[ka]=ორმოცი & რვა
Name[nl]=Veertig & acht
Name[pt_BR]=Quarenta e oito
Name[sl]=Štirideset in osem
Name[tr]=Kırk ve Sekiz
Name[uk]=Сорок та Вісім
Exec=kpat --gametype "forty & eight"

[Desktop Action freecell]
Name=Freecell
Name[ar]=الخلية الحرة
Name[bg]=Freecell
Name[ca]=Cel·la lliure
Name[ca@valencia]=Cel·la lliure
Name[es]=Carta blanca
Name[eu]=Gelaxka askea
Name[fr]=Freecell
Name[he]=פריסל
Name[ia]=FreeCell
Name[it]=Freecell
Name[ka]=თავისუფალი უჯრედი
Name[nl]=Freecell
Name[pt_BR]=Freecell
Name[sl]=Freecell
Name[tr]=Freecell
Name[uk]=Косинка
Exec=kpat --gametype freecell

[Desktop Action golf]
Name=Golf
Name[ar]=غولف
Name[bg]=Голф
Name[ca]=Golf
Name[ca@valencia]=Golf
Name[es]=Golf
Name[eu]=Golfa
Name[fr]=Golf
Name[he]=גולף
Name[it]=Golf
Name[ka]=გოლფი
Name[nl]=Golf
Name[pt_BR]=Golfe
Name[sl]=Golf
Name[tr]=Golf
Name[uk]=Гольф
Exec=kpat --gametype golf

[Desktop Action grandfather]
Name=Grandfather
Name[ar]=الجد
Name[bg]=Дядовият пасианс
Name[ca]=El iaio
Name[ca@valencia]=L'iaio
Name[es]=El abuelo
Name[eu]=Aitona
Name[fr]=Grandfather
Name[he]=סבא
Name[it]=Nonno
Name[ka]=პაპა
Name[nl]=Grootvader
Name[pt_BR]=Avô
Name[sl]=Dedek
Name[tr]=Büyükbaba
Name[uk]=Дідусь
Exec=kpat --gametype grandfather

[Desktop Action grandfathersclock]
Name=Grandfather's Clock
Name[ar]=ساعة الجد
Name[bg]=Часовникът на дядо
Name[ca]=El rellotge de l'avi
Name[ca@valencia]=El rellotge de l'avi
Name[es]=El reloj del abuelo
Name[eu]=Aitonaren erlojua
Name[fr]=Grandfather's Clock
Name[he]=השעון של סבא
Name[it]=Orologio del nonno
Name[ka]=ბაბუას საათი
Name[nl]=Grootvaders klok
Name[pt_BR]=Relógio do vovô
Name[sl]=Dedkova ura
Name[tr]=Büyükbabanın Saati
Name[uk]=Годинник дідуся
Exec=kpat --gametype "grandfather's clock"

[Desktop Action klondike]
Name=Klondike
Name[ar]=كلونداكي
Name[bg]=Клондайк
Name[ca]=Klondike
Name[ca@valencia]=Klondike
Name[es]=Klondike
Name[eu]=Klondike
Name[fr]=Klondike
Name[he]=קלונדייק
Name[it]=Klondike
Name[ka]=განძი
Name[nl]=Klondike
Name[pt_BR]=Klondike
Name[sl]=Klondike
Name[tr]=Klondike
Name[uk]=Клондайк
Exec=kpat --gametype klondike

[Desktop Action mod3]
Name=Mod3
Name[ar]=مود3
Name[bg]=Mod3
Name[ca]=Mod3
Name[ca@valencia]=Mod3
Name[es]=Mod3
Name[eu]=Mod3
Name[fr]=Mod3
Name[he]=Mod3
Name[ia]=Mod3
Name[it]=Mod3
Name[ka]=Mod3
Name[nl]=Mod3
Name[pt_BR]=Mod3
Name[sl]=Mod3
Name[tr]=Mod3
Name[uk]=Mod3
Exec=kpat --gametype mod3

[Desktop Action normandy]
Name=Normandy
Name[ar]=نورمندي
Name[bg]=Нормандия
Name[ca]=Normandia
Name[ca@valencia]=Normandia
Name[es]=Normandía
Name[eu]=Normandia
Name[fr]=Normandy
Name[he]=נורמנדי
Name[ia]=Normandia
Name[it]=Normandia
Name[ka]=ნორმანდია
Name[nl]=Normandy
Name[pt_BR]=Normandia
Name[sl]=Normandija
Name[tr]=Normandy
Name[uk]=Нормандія
Exec=kpat --gametype normandy

[Desktop Action simplesimon]
Name=Simple Simon
Name[ar]=سايمون بسيط
Name[bg]=Simple Simon
Name[ca]=El ximple Simó
Name[ca@valencia]=El ximple Simó
Name[es]=Simón Simple
Name[eu]=Simon sinplea
Name[fr]=Simple Simon
Name[he]=סיימון פשוט
Name[it]=Simon semplice
Name[ka]=მარტივი სიმონი
Name[nl]=Eenvoudige Simon
Name[pt_BR]=Simple Simon
Name[sl]=Preprosti Simon
Name[tr]=Basit Simon
Name[uk]=Простак Саймон
Exec=kpat --gametype "simple simon"

[Desktop Action spider]
Name=Spider
Name[ar]=العنكبوت
Name[bg]=Паяк
Name[ca]=Aranya
Name[ca@valencia]=Aranya
Name[cs]=Pavouk
Name[da]=Edderkop
Name[el]=Αράχνη
Name[en_GB]=Spider
Name[es]=Spider
Name[et]=Ämblik
Name[eu]=Armiarma
Name[fr]=Spider
Name[gl]=Araña
Name[he]=עכביש
Name[hr]=Spider
Name[hu]=Pók
Name[it]=Ragno
Name[ka]=ობობა
Name[kk]=Өрмекші
Name[km]=ពីងពាង​
Name[lv]=Zirneklis
Name[mai]=मकड़ी
Name[nds]=Spinn
Name[nl]=Spin
Name[pl]=Pająk
Name[pt_BR]=Aranha
Name[ru]=Паук
Name[sl]=Pajek
Name[sq]=Merimanga
Name[sv]=Spindel
Name[tr]=Örümcek
Name[ug]=ئۆمۈچۈك
Name[uk]=Павук
Exec=kpat --gametype spider

[Desktop Action yukon]
Name=Yukon
Name[ar]=يوكون
Name[bg]=Юкон
Name[ca]=Yukon
Name[ca@valencia]=Yukon
Name[es]=Yukón
Name[eu]=Yukon
Name[fr]=Yukon
Name[he]=יוקון
Name[ia]=Yukon
Name[it]=Yukon
Name[ka]=იუკონი
Name[nl]=Yukon
Name[pt_BR]=Yukon
Name[sl]=Jukon
Name[tr]=Yukon
Name[uk]=Юкон
Exec=kpat --gametype yukon
